.about-copy {
  max-width: var(--measure);
}

.about-education {
  padding-top: var(--space-m);
  border-top: var(--hairline);

  & p {
    max-width: var(--measure);
    font-size: var(--step--1);
  }
}
